.header {
    width        : 100%;
    min-height   : 100vh;
    // background: linear-gradient(45deg, #11112c, #11112c);
    //color     : var(--white);
    background   : var(--blue-gradient);

    .topbar {
        background     : var(--white-gradient_b);
        backdrop-filter: blur(3px);
    }

    // * {
    //     color: var(--gold) !important;
    // }


    .container {
        padding-left : 0;
        padding-right: 0;

    }
}