.hero {
    position  : relative;
    margin-top: 1.75rem;
    padding   : 1.25rem 1rem;

    .container {
        position: relative;
    }

    .btn {
        display: inline-block;
        padding: 12px 50px;
    }

    @media #{$sm} {
        .title {
            text-shadow: none;
        }
    }

    .title {
        text-shadow: 1px 1px 5px var(--white_1);
    }

    .title-1 {
        font-size  : 2.5rem;
        line-height: 1.2;

        @media #{$sm} {
            font-size  : 2.75rem;
            line-height: 1.4;
        }

        @media #{$sml} {
            font-size: 3rem;
        }

        @media #{$md} {
            font-size: 3.25rem;
        }
    }

    .hero__content,
    .hero__baseline {
        position: absolute;
    }


    .hero__image {
        background: var(--white-gradient_1);
        border    : 10px solid var(--white);
        overflow-y: hidden;

        img {
            height   : 400px;
            max-width: 225px;
        }
    }

    .hero__baseline {
        width     : 100%;
        margin-top: 5rem;
        left      : 50%;
        transform : translateX(-50%);
        z-index   : 10;
        text-align: center;

        @media #{$sm} {
            max-width: 80%;
        }

        @media #{$sml} {
            max-width      : 70%;
            backdrop-filter: blur(5px);
        }

        @media #{$md} {
            max-width: 60%;
        }
    }
}

.hero__content {
    height    : max-content;
    width     : max-content;
    min-height: 400px;
    min-width : 225px;
    display   : none;
    z-index   : 5;

    .social-link {
        position : absolute;
        animation: bounce 0.55s ease-in-out infinite alternate;
        z-index  : 10;

        &.google {
            left: -5%;
            top : 15%;
        }

        &.instagram {
            top : 70%;
            left: -5%;
        }

        &.fb {
            right: -5%;
            top  : -2%;
        }

        &.twitter {
            right: -5%;
            top  : 55%;
        }
    }

    &.hero-left {
        left: 0;
        top : 0;

        &::after {
            bottom: 0;
        }

        &::before {
            top: 0%;
        }

        .hero__image {
            border-top-right-radius  : 100px;
            border-bottom-left-radius: 100px;
        }
    }

    &.hero-right {
        z-index: 6;
        right  : 0;
        top    : 55px;

        &::after {
            top: -2%;
        }

        &::before {
            bottom   : -5%;
            left     : 50%;
            transform: translateX(-50%);
        }

        .hero__image {
            border-top-left-radius    : 100px;
            border-bottom-right-radius: 100px;
        }
    }

    &::before,
    &::after {
        content         : "";
        position        : absolute;
        width           : 25px;
        height          : 25px;
        background-color: var(--gold);
        border-radius   : 50%;
        left            : 50%;
        transform       : translateX(-50%);
        z-index         : 5;
        opacity         : 0.85;
    }

    &::before {
        display   : none;
        // width  : 75px;
        // height : 75px;
        // bottom : 100%;
        // left   : 5%;
    }

}

@media #{$sml} {

    .hero {
        .baseline-text {
            max-width   : 65%;
            margin-left : auto;
            margin-right: auto;
        }

        .hero__content {
            display: block;
        }
    }
}

@media #{$md} {

    .hero {


        .baseline-text {
            max-width: 75%;
        }
    }
}

@keyframes bounce {
    0% {
        transform: translateY(0px);


        text-shadow: 0 5px 0 #ccc,
            0 2px 3px rgba(0, 0, 0, 1);
    }

    100% {
        transform: translateY(-3px);
        text-shadow: 0 50px 0 #black,
            0 0px 20px rgba(0, 0, 0, .8);
    }
}