.hero {
    position  : relative;
    margin-top: 2.5rem;
    padding   : 2rem 1rem;

    .container {
        position: relative;
    }

    .btn {
        display: inline-block;
        padding: 15px 55px;
    }

    @media #{$sm} {
        .title {
            text-shadow: none;
        }
    }

    .title {
        text-shadow: 1px 1px 5px var(--white_1);
    }

    .title-1 {
        font-size  : 2.5rem;
        line-height: 1.2;

        @media #{$sm} {
            font-size  : 2.75rem;
            line-height: 1.4;
        }

        @media #{$sml} {
            font-size: 3rem;
        }

        @media #{$md} {
            font-size: 3.25rem;
        }
    }

    .hero__image,
    .hero__baseline {
        position: absolute;
    }

    .hero__image {
        display: none;
        z-index: 5;

        border: 10px solid var(--white);

        &.hero-left {
            left: 5%;
            top : 0;
        }

        &.hero-right {
            z-index: 6;
            right  : 5%;
            top    : 55px;
        }
    }

    .hero__baseline {
        width     : 100%;
        margin-top: 5rem;
        left      : 50%;
        transform : translateX(-50%);
        z-index   : 10;
        text-align: center;

        @media #{$sm} {
            max-width: 80%;
        }

        @media #{$sml} {
            max-width: 70%;
        }

        @media #{$md} {
            max-width: 60%;
        }
    }
}

.hero__image {
    overflow-y: hidden;

    img {
        height   : 400px;
        max-width: 225px;
    }

    background: var(--white-gradient_1);

    &.hero-left {
        border-top-right-radius  : 100px;
        border-bottom-left-radius: 100px;
    }

    &.hero-right {
        border-top-left-radius    : 100px;
        border-bottom-right-radius: 100px;
    }
}

@media #{$sml} {

    .hero {
        .baseline-text {
            max-width   : 65%;
            margin-left : auto;
            margin-right: auto;
        }

        .hero__image {
            display: block;
        }
    }
}

@media #{$md} {

    .hero {


        .baseline-text {
            max-width: 75%;
        }
    }
}
