.partner {
    margin-top: rem(100);

    @media #{$xs} {
        margin-top: 0;
    }

    #carousel1 {
        overflow: hidden;
    }

    .carousel {
        &__next {
            right: 20px;
        }

        &__prev {
            left: auto;
        }
    }

    .carousel__item {
        height         : 100px;
        width          : 100% !important;
        display        : flex;
        justify-content: center;


        @media #{$sm} {
            width  : auto !important;
            display: block;

            .item__image {
                &::after {
                    display: block;
                }
            }
        }

        &::last-child,
        &:first-child {
            .item__image::after {
                display: none;
            }
        }
    }

    .item__image {
        display    : flex;
        align-items: center;
        width      : 200px;
        height     : 100px;
        padding    : 10 15px;
        position   : relative;

        &::after {
            content         : "";
            display         : none;
            width           : 0.5px;
            height          : 35%;
            position        : absolute;
            top             : 50%;
            transform       : translateY(-50%);
            background-color: gray;
            left            : -10px;

        }
    }

    .item {
        margin: 0 5px;

        :hover {
            transform: none;
        }
    }


}