/** COMPILATION PRINCIPALE DES STYLES */ /** Fonts */
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;900&display=swap");
@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Black"), local("SFUIDisplay-Black"), url("/assets/fonts/SFUIDisplay-Black.woff") format("woff"), url("/assets/fonts/SFUIDisplay-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Heavy"), local("SFUIDisplay-Heavy"), url("/assets/fonts/SFUIDisplay-Heavy.woff") format("woff"), url("/assets/fonts/SFUIDisplay-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Bold"), local("SFUIDisplay-Bold"), url("/assets/fonts/SFUIDisplay-Bold.woff") format("woff"), url("/assets/fonts/SFUIDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Semibold"), local("SFUIDisplay-Semibold"), url("/assets/fonts/SFUIDisplay-Semibold.woff") format("woff"), url("/assets/fonts/SFUIDisplay-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Medium"), local("SFUIDisplay-Medium"), url("/assets/fonts/SFUIDisplay-Medium.woff") format("woff"), url("/assets/fonts/SFUIDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SF UI Display";
  src: local("SF UI Display Light"), local("SFUIDisplay-Light"), url("/assets/fonts/SFUIDisplay-Light.woff") format("woff"), url("/assets/fonts/SFUIDisplay-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/**
Les variables utiliser dans l'application
*/
/**
Les variables utiliser dans l'application
*/
/** MEDIA QUERIES */
:root {
  --ff-primary: "Inter", -apple-system,
      system-ui,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      "Helvetica Neue",
      Arial,
      sans-serif;
  --ff-link: var(--ff-primary);
  --ff-title: "Lora", "Segoe UI", Ubuntu, serif;
  --fw: 400;
  --blue: #036bcd;
  --blue_a2: #032c55;
  --dark: #1f2937;
  --gold: #e6c04b;
  --white: rgb(255, 255, 255);
  --white_1: rgb(250, 250, 250);
  --gray_1: rgb(197, 197, 198);
  --gray_white: rgb(227, 227, 228);
  --text-color: rgb(112, 111, 114);
  --white-gradient: linear-gradient(45deg, var(--white) 45%, var(--white_1)) no-repeat center center /cover;
  --white-gradient_1: linear-gradient(45deg, var(--gray_white) 25%, var(--white)) no-repeat center center /cover;
  --gradient-gray: linear-gradient(45deg, var(--gray_1)45%, var(--white_1)) no-repeat center center /cover;
  /** SPACES */
  --space-block: 2rem;
  --space-big: 3rem;
  --equal-space: 1rem;
}

/** LES STYLES DE BASE */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color 0.3s, background-color 0.3s, opacity 0.3s;
}

::selection {
  background-color: var(--gold);
}

body,
html {
  font-family: var(--ff-primary);
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: var(--text-color);
}

a {
  font-family: var(--ff-link);
}

img {
  object-fit: cover;
}

/**
    Les styles utiles dans toutes l'application

*/
.btn {
  padding: 8px 12px;
  background-color: var(--gray_1);
  color: var(--dark);
  rounded: 2px;
  border: 1px solid transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--ff-title);
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--dark);
}

.important-title, .title-1 {
  font-size: 2rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 576px) {
  .important-title, .title-1 {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .important-title, .title-1 {
    font-size: 2.75rem;
    line-height: 1.85rem;
  }
}
@media only screen and (min-width: 992px) {
  .important-title, .title-1 {
    font-size: 3.25rem;
    line-height: 2.5rem;
  }
}
@media only screen and (min-width: 1281px) {
  .important-title, .title-1 {
    font-size: 4rem;
  }
}

.title-2 {
  font-siwze: 1.8rem;
}
@media only screen and (min-width: 576px) {
  .title-2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .title-2 {
    font-size: 2.5rem;
    line-height: 1.65rem;
  }
}
@media only screen and (min-width: 992px) {
  .title-2 {
    font-size: 2.75rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 1281px) {
  .title-2 {
    font-size: 3rem;
  }
}

.title-3 {
  font-size: 1.5rem;
  margin: 0.6rem 0;
}
@media only screen and (min-width: 576px) {
  .title-3 {
    font-size: 1.55rem;
  }
}
@media only screen and (min-width: 768px) {
  .title-3 {
    font-size: 1.75rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .title-3 {
    font-size: 1.85rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 1281px) {
  .title-3 {
    font-size: 2rem;
  }
}

.btn.btn-dark {
  background-color: var(--dark);
  color: vaR(--white);
}
.btn.btn-dark:hover {
  background: var(--white);
  color: var(--dark);
  border-color: var(--dark);
}
.btn .btn-dark-outline {
  color: var(--dark);
  background-color: var(--white);
  border-color: var(--dark);
}
.btn.btn-x-round {
  border-radius: 99px;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 992px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.section {
  margin: 3.5714285714rem 0;
}

.mb-block {
  margin-bottom: var(--space-block);
}

.my-block {
  margin: var(--space-block) 0;
}

.mx-block {
  margin: 0 var(--space-block) 0;
}

/* -----------------APPARITION AU DEFILEMENT ----------------- */
/* CETTE ANIMATION SERA JOUER UNIQUEMENT LORSQUE L'element HTML <html> aura la classe ".reveal-loaded " */
/* Tous les element qui sont dans .reveal et qui on une classe .reveal-[quelque chose] */
.reveal-loaded .reveal [class*=reveal-] {
  opacity: 0;
  /* Les elements vont apparaitre depuis le bas */
  transform: translateY(30px);
  transition: 0s !important;
}

/* Tous les element qui sont dans .reveal-visible et qui on une classe .reveal-[quelque chose] */
.reveal-loaded .reveal-visible [class*=reveal-] {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s cubic-bezier(0.5, 0, 0, 1), transform 1s cubic-bezier(0.5, 0, 0, 1);
}

.img-response {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.btn-cookie {
  background-color: var(--blue);
}

.reveal-loaded .reveal-visible .reveal-1 {
  transition-delay: 0.3s;
}

.reveal-loaded .reveal-visible .reveal-2 {
  transition-delay: 0.4s;
}

.reveal-loaded .reveal-visible .reveal-3 {
  transition-delay: 0.5s;
}

.reveal-loaded .reveal-visible .reveal-4 {
  transition-delay: 0.6s;
}

.reveal-loaded .reveal-visible .reveal-5 {
  transition-delay: 0.7s;
}

.title-1 {
  font-size: 1.875rem;
  line-height: 1.75rem;
}
@media (min-width: 1024px) {
  .title-1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.important-title {
  font-size: 1.875rem;
  line-height: 1.75rem;
}
@media (min-width: 1024px) {
  .important-title {
    margin-bottom: 5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

/**
    Les styles utiles dans toutes l'application

*/
.btn {
  padding: 8px 12px;
  background-color: var(--gray_1);
  color: var(--dark);
  rounded: 2px;
  border: 1px solid transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--ff-title);
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--dark);
}

.title-1, .important-title {
  font-size: 2rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 576px) {
  .title-1, .important-title {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .title-1, .important-title {
    font-size: 2.75rem;
    line-height: 1.85rem;
  }
}
@media only screen and (min-width: 992px) {
  .title-1, .important-title {
    font-size: 3.25rem;
    line-height: 2.5rem;
  }
}
@media only screen and (min-width: 1281px) {
  .title-1, .important-title {
    font-size: 4rem;
  }
}

.title-2 {
  font-siwze: 1.8rem;
}
@media only screen and (min-width: 576px) {
  .title-2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .title-2 {
    font-size: 2.5rem;
    line-height: 1.65rem;
  }
}
@media only screen and (min-width: 992px) {
  .title-2 {
    font-size: 2.75rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 1281px) {
  .title-2 {
    font-size: 3rem;
  }
}

.title-3 {
  font-size: 1.5rem;
  margin: 0.6rem 0;
}
@media only screen and (min-width: 576px) {
  .title-3 {
    font-size: 1.55rem;
  }
}
@media only screen and (min-width: 768px) {
  .title-3 {
    font-size: 1.75rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .title-3 {
    font-size: 1.85rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 1281px) {
  .title-3 {
    font-size: 2rem;
  }
}

.btn.btn-dark {
  background-color: var(--dark);
  color: vaR(--white);
}
.btn.btn-dark:hover {
  background: var(--white);
  color: var(--dark);
  border-color: var(--dark);
}
.btn .btn-dark-outline {
  color: var(--dark);
  background-color: var(--white);
  border-color: var(--dark);
}
.btn.btn-x-round {
  border-radius: 99px;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 992px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.section {
  margin: 3.5714285714rem 0;
}

.mb-block {
  margin-bottom: var(--space-block);
}

.my-block {
  margin: var(--space-block) 0;
}

.mx-block {
  margin: 0 var(--space-block) 0;
}

/* -----------------APPARITION AU DEFILEMENT ----------------- */
/* CETTE ANIMATION SERA JOUER UNIQUEMENT LORSQUE L'element HTML <html> aura la classe ".reveal-loaded " */
/* Tous les element qui sont dans .reveal et qui on une classe .reveal-[quelque chose] */
.reveal-loaded .reveal [class*=reveal-] {
  opacity: 0;
  /* Les elements vont apparaitre depuis le bas */
  transform: translateY(30px);
  transition: 0s !important;
}

/* Tous les element qui sont dans .reveal-visible et qui on une classe .reveal-[quelque chose] */
.reveal-loaded .reveal-visible [class*=reveal-] {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s cubic-bezier(0.5, 0, 0, 1), transform 1s cubic-bezier(0.5, 0, 0, 1);
}

.img-response {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.btn-cookie {
  background-color: var(--blue);
}

.reveal-loaded .reveal-visible .reveal-1 {
  transition-delay: 0.3s;
}

.reveal-loaded .reveal-visible .reveal-2 {
  transition-delay: 0.4s;
}

.reveal-loaded .reveal-visible .reveal-3 {
  transition-delay: 0.5s;
}

.reveal-loaded .reveal-visible .reveal-4 {
  transition-delay: 0.6s;
}

.reveal-loaded .reveal-visible .reveal-5 {
  transition-delay: 0.7s;
}

.header {
  width: 100%;
  min-height: 100vh;
  background: var(--white-gradient);
}
.header .container {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  padding: 1.0714285714rem 1.4285714286rem;
  padding-left: 0;
  background-color: var(--white-gradient);
  color: var(--dark);
  font-weight: 500;
  text-transform: capitalize;
}
.navbar .list-item {
  margin-bottom: 1rem;
}
.navbar .dropdown-list {
  background-color: var(--white);
}
.navbar .dropdown-list li {
  margin-bottom: 0.5rem;
}
.navbar .dropdown-list li:last-child {
  margin-bottom: 0;
}
.navbar ul {
  display: flex;
  flex-direction: column;
}

.navlink {
  display: flex;
  align-items: center;
}

.sign-btns {
  display: none;
}

/** HUMBERGEUR*/
.humburger {
  width: 25px;
  height: 25px;
  margin-left: 1.4285714286rem;
  cursor: pointer;
  border: none;
  display: flex;
  background-color: inherit;
  align-items: center;
  position: relative;
}
.humburger span {
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: var(--dark);
  pointer-events: none;
  border-radius: 5px;
  transition: opacity 0.3s 0.1s ease-out;
}
.humburger span:last-child, .humburger span:first-child {
  transition: transform 0.3s ease-out;
}
.humburger span:first-child {
  transform: translateY(-8px);
}
.humburger span:last-child {
  transform: translateY(8px);
}
.humburger.open span:first-child {
  transform: translate(0) rotate(135deg);
}
.humburger.open span:nth-child(2) {
  opacity: 0;
  transition: opacity 0s ease-out;
}
.humburger.open span:last-child {
  transform: translate(0) rotate(-135deg);
}

.navlinks-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  z-index: 50;
  top: 100%;
  height: 100vh;
  border-right: 1px solid var(--gray_1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  padding: 1.0714285714rem 1.4285714286rem 1.0714285714rem 1.4285714286rem;
  min-width: 220px;
}
.navlinks-container.open {
  background: var(--white);
  transform: translateX(0%);
}

.dropdown-link {
  display: flex;
  align-items: center;
}
.dropdown-link svg {
  transition: transform 0.3s;
}
.dropdown-link:hover > svg {
  transform: rotate(180deg) !important;
}

.nav-icon {
  order: 2;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0 auto;
  line-height: 0.8;
}
.nav-icon img {
  width: 55px;
}
.nav-icon span {
  display: flex;
  font-size: 1.5714285714rem;
  font-weight: bold;
  text-align: left;
  color: var(--gold);
  margin-left: 0.3571428571rem;
}
.nav-icon span:hover {
  color: var(--dark);
}
.nav-icon span span {
  margin-left: 0;
  color: var(--dark);
}
.nav-icon span span:hover {
  color: var(--gold);
}

.nav-authentication {
  order: 3;
}

.main-navlinks {
  order: 1;
}

.auth-links {
  cursor: pointer;
}
.auth-links img {
  width: 1.4285714286rem;
}

.sign-btns a {
  min-width: 6.4285714286rem;
  padding: 0.5714285714rem 1.0714285714rem;
  margin: 0.3571428571rem;
  background-color: var(--gold);
  color: var(--white);
  border: 1px solid transparent;
}
.sign-btns a:hover {
  color: var(--gold);
  border-color: var(--gold);
  background-color: var(--white);
}

/** DROPDOWN */
.dropdown-parent-item {
  position: relative;
}
.dropdown-parent-item .dropdown-list {
  display: none;
  padding: 1.4285714286rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  min-width: max-content;
}
.dropdown-parent-item .dropdown-list:hover {
  display: block;
}
.dropdown-parent-item .dropdown-list a {
  margin: 0;
  margin-bottom: 1rem;
}
.dropdown-parent-item a:hover + .dropdown-list {
  display: block;
  animation: widthCount 0.3s ease-out forwards;
}

@media only screen and (max-width: 576px) {
  .nav-icon span {
    font-size: 1.4285714286rem;
  }
}
@media only screen and (min-width: 768px) {
  .nav-icon span {
    font-size: 1.4285714286rem;
  }
}
@media only screen and (min-width: 880px) {
  .dropdown-parent-item .dropdown-list {
    display: none;
    position: absolute;
    top: 100%;
    z-index: 10;
  }
  .dropdown-parent-item a:hover + .dropdown-list {
    z-index: 50;
    animation: FadeUp 0.3s ease-out forwards;
  }
  .navbar {
    /* position  : fixed; */
    padding: 1.0714285714rem 1.7857142857rem;
    text-align: center;
  }
  .navbar ul {
    flex-direction: row;
  }
  .navbar .list-item {
    margin-bottom: 0;
  }
  .navlinks-container {
    position: static;
    border-right: none;
    transform: none;
    height: auto;
    padding: 0;
  }
  .navlinks-container.open {
    display: none;
  }
  .main-navlinks,
.nav-authentication,
.nav-icon {
    order: initial;
  }
  .main-navlinks {
    margin: 0 auto;
  }
  .nav-icon {
    margin-left: 0;
    margin-right: 1.4285714286rem;
  }
  .nav-icon span {
    display: inline-flex;
    justify-items: center;
    font-size: 1.4285714286rem;
  }
  .humburger {
    display: none;
  }
  .sign-btns {
    display: block;
  }
  .sign-btns a {
    margin: 0 0.7142857143rem;
    border-radius: 0.3571428571rem;
  }
  .auth-links {
    display: none;
  }
  .navlinks-container {
    padding-left: 0;
  }
  .navlinks-container a {
    margin: 0 0.7142857143rem;
    font-weight: 400;
    color: var(--dark);
    position: relative;
  }
  .navlinks-container a::after {
    content: "";
    height: 0.1428571429rem;
    width: 100%;
    position: absolute;
    bottom: 0rem;
    left: 0;
    right: 0;
    transform: scale(0);
    transition: transform 0.3s ease-out;
    background-color: currentColor;
  }
  .navlinks-container a:hover::after {
    transform: scaleX(1);
  }
  .navlinks-container li:first-child a {
    margin-left: 0;
  }
  .navlinks-container li:last-child a {
    margin-right: 0;
  }
  .nav-authentication {
    margin-left: auto;
  }
}
@keyframes widthCount {
  from {
    visibility: hidden;
    opacity: 0;
    height: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}
@keyframes FadeUp {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero {
  position: relative;
  margin-top: 1.75rem;
  padding: 1.25rem 1rem;
}
.hero .container {
  position: relative;
}
.hero .btn {
  display: inline-block;
  padding: 12px 50px;
}
@media only screen and (min-width: 576px) {
  .hero .title {
    text-shadow: none;
  }
}
.hero .title {
  text-shadow: 1px 1px 5px var(--white_1);
}
.hero .title-1 {
  font-size: 2.5rem;
  line-height: 1.2;
}
@media only screen and (min-width: 576px) {
  .hero .title-1 {
    font-size: 2.75rem;
    line-height: 1.4;
  }
}
@media only screen and (min-width: 768px) {
  .hero .title-1 {
    font-size: 3rem;
  }
}
@media only screen and (min-width: 992px) {
  .hero .title-1 {
    font-size: 3.25rem;
  }
}
.hero .hero__content,
.hero .hero__baseline {
  position: absolute;
}
.hero .hero__image {
  background: var(--white-gradient_1);
  border: 10px solid var(--white);
  overflow-y: hidden;
}
.hero .hero__image img {
  height: 400px;
  max-width: 225px;
}
.hero .hero__baseline {
  width: 100%;
  margin-top: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  text-align: center;
}
@media only screen and (min-width: 576px) {
  .hero .hero__baseline {
    max-width: 80%;
  }
}
@media only screen and (min-width: 768px) {
  .hero .hero__baseline {
    max-width: 70%;
    backdrop-filter: blur(5px);
  }
}
@media only screen and (min-width: 992px) {
  .hero .hero__baseline {
    max-width: 60%;
  }
}

.hero__content {
  height: max-content;
  width: max-content;
  min-height: 400px;
  min-width: 225px;
  display: none;
  z-index: 5;
}
.hero__content .social-link {
  position: absolute;
  animation: bounce 0.55s ease-in-out infinite alternate;
  z-index: 10;
}
.hero__content .social-link.google {
  left: -5%;
  top: 15%;
}
.hero__content .social-link.instagram {
  top: 70%;
  left: -5%;
}
.hero__content .social-link.fb {
  right: -5%;
  top: -2%;
}
.hero__content .social-link.twitter {
  right: -5%;
  top: 55%;
}
.hero__content.hero-left {
  left: 0;
  top: 0;
}
.hero__content.hero-left::after {
  bottom: 0;
}
.hero__content.hero-left::before {
  top: 0%;
}
.hero__content.hero-left .hero__image {
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
}
.hero__content.hero-right {
  z-index: 6;
  right: 0;
  top: 55px;
}
.hero__content.hero-right::after {
  top: -2%;
}
.hero__content.hero-right::before {
  bottom: -5%;
  left: 50%;
  transform: translateX(-50%);
}
.hero__content.hero-right .hero__image {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}
.hero__content::before, .hero__content::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: var(--gold);
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  opacity: 0.85;
}
.hero__content::before {
  display: none;
}

@media only screen and (min-width: 768px) {
  .hero .baseline-text {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  .hero .hero__content {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .hero .baseline-text {
    max-width: 75%;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0px);
    text-shadow: 0 5px 0 #ccc, 0 2px 3px rgb(0, 0, 0);
  }
  100% {
    transform: translateY(-3px);
    text-shadow: 0 50px 0 #black, 0 0px 20px rgba(0, 0, 0, 0.8);
  }
}
.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--white);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**
    Les styles utiles dans toutes l'application

*/
.btn {
  padding: 8px 12px;
  background-color: var(--gray_1);
  color: var(--dark);
  rounded: 2px;
  border: 1px solid transparent;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--ff-title);
  font-weight: 600;
  margin-bottom: 1rem;
  color: var(--dark);
}

.title-1, .important-title {
  font-size: 2rem;
  line-height: 1.5rem;
}
@media only screen and (min-width: 576px) {
  .title-1, .important-title {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 768px) {
  .title-1, .important-title {
    font-size: 2.75rem;
    line-height: 1.85rem;
  }
}
@media only screen and (min-width: 992px) {
  .title-1, .important-title {
    font-size: 3.25rem;
    line-height: 2.5rem;
  }
}
@media only screen and (min-width: 1281px) {
  .title-1, .important-title {
    font-size: 4rem;
  }
}

.title-2 {
  font-siwze: 1.8rem;
}
@media only screen and (min-width: 576px) {
  .title-2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 768px) {
  .title-2 {
    font-size: 2.5rem;
    line-height: 1.65rem;
  }
}
@media only screen and (min-width: 992px) {
  .title-2 {
    font-size: 2.75rem;
    line-height: 2rem;
  }
}
@media only screen and (min-width: 1281px) {
  .title-2 {
    font-size: 3rem;
  }
}

.title-3 {
  font-size: 1.5rem;
  margin: 0.6rem 0;
}
@media only screen and (min-width: 576px) {
  .title-3 {
    font-size: 1.55rem;
  }
}
@media only screen and (min-width: 768px) {
  .title-3 {
    font-size: 1.75rem;
    line-height: 1.25rem;
  }
}
@media only screen and (min-width: 992px) {
  .title-3 {
    font-size: 1.85rem;
    line-height: 1.5rem;
  }
}
@media only screen and (min-width: 1281px) {
  .title-3 {
    font-size: 2rem;
  }
}

.btn.btn-dark {
  background-color: var(--dark);
  color: vaR(--white);
}
.btn.btn-dark:hover {
  background: var(--white);
  color: var(--dark);
  border-color: var(--dark);
}
.btn .btn-dark-outline {
  color: var(--dark);
  background-color: var(--white);
  border-color: var(--dark);
}
.btn.btn-x-round {
  border-radius: 99px;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media only screen and (min-width: 992px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }
}

.section {
  margin: 3.5714285714rem 0;
}

.mb-block {
  margin-bottom: var(--space-block);
}

.my-block {
  margin: var(--space-block) 0;
}

.mx-block {
  margin: 0 var(--space-block) 0;
}

/* -----------------APPARITION AU DEFILEMENT ----------------- */
/* CETTE ANIMATION SERA JOUER UNIQUEMENT LORSQUE L'element HTML <html> aura la classe ".reveal-loaded " */
/* Tous les element qui sont dans .reveal et qui on une classe .reveal-[quelque chose] */
.reveal-loaded .reveal [class*=reveal-] {
  opacity: 0;
  /* Les elements vont apparaitre depuis le bas */
  transform: translateY(30px);
  transition: 0s !important;
}

/* Tous les element qui sont dans .reveal-visible et qui on une classe .reveal-[quelque chose] */
.reveal-loaded .reveal-visible [class*=reveal-] {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s cubic-bezier(0.5, 0, 0, 1), transform 1s cubic-bezier(0.5, 0, 0, 1);
}

.img-response {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.btn-cookie {
  background-color: var(--blue);
}

.reveal-loaded .reveal-visible .reveal-1 {
  transition-delay: 0.3s;
}

.reveal-loaded .reveal-visible .reveal-2 {
  transition-delay: 0.4s;
}

.reveal-loaded .reveal-visible .reveal-3 {
  transition-delay: 0.5s;
}

.reveal-loaded .reveal-visible .reveal-4 {
  transition-delay: 0.6s;
}

.reveal-loaded .reveal-visible .reveal-5 {
  transition-delay: 0.7s;
}

.item {
  margin: 40px 10px;
  transition: transform 0.3s;
  transform: translate3d(0, -1px, 0);
}
.item img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.item:hover {
  transform: translate3d(0, -10px, 0);
}

.item__body {
  padding: 25px;
}

.item__title {
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #232323;
}

.item__description {
  color: #585858;
}

.items {
  position: relative;
}

/*---------- CAROUSEL ----------*/
.carousel {
  position: relative;
}
.carousel button {
  border: none;
  outline: none;
}
.carousel__next, .carousel__prev {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #fff url("../images/right.svg") center center/20px 20px no-repeat;
  border-radius: 50%;
  top: 50%;
  margin-top: -20px;
  right: -20px;
  box-shadow: 0 15px 35px rgba(50, 50, 50, 0.1019607843), 0 5px 15px rgba(0, 0, 0, 0.1019607843);
  cursor: pointer;
  transition: transform 0.3s, opacity 0.3s, visibility 0.3s;
}
.carousel__next--hidden, .carousel__prev--hidden {
  opacity: 0;
  visibility: hidden;
}
.carousel__next:hover, .carousel__prev:hover {
  transform: scale(1.15);
}
.carousel__prev {
  background-image: url("../images/left.svg");
  right: auto;
  left: -20px;
}
.carousel__container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.45s;
  transform: translate3d(0, 0, 0);
}
.carousel__pagination {
  position: absolute;
  bottom: 3%;
  left: 0;
  right: 0;
  text-align: center;
}
@media only screen and (min-width: 800px) {
  .carousel__pagination {
    display: block;
  }
}
.carousel__pagination__btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  margin: 0 5px;
  box-shadow: 0 2px 5px rgba(50, 50, 50, 0.1019607843);
  cursor: pointer;
  transition: transform 0.35s;
}
.carousel__pagination__btn:hover, .carousel__pagination__btn:active, .carousel__pagination__btn--active, .carousel__pagination__btn--active::before {
  transform: scale(1.3);
}

.partner {
  backdrop-filter: blur(3px);
  margin-top: 7.1428571429rem;
}
@media only screen and (min-width: 480px) {
  .partner {
    margin-top: 0;
  }
}
@media only screen and (min-width: 576px) {
  .partner {
    margin-top: var(--space-big);
  }
}
.partner .title {
  color: inherit;
}
.partner .title-3 {
  margin-bottom: 2rem;
}
.partner #carousel1 {
  overflow: hidden;
}
.partner .carousel__next {
  right: 20px;
}
.partner .carousel__prev {
  left: auto;
}
.partner .carousel__item {
  height: 100px;
  width: 100% !important;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 576px) {
  .partner .carousel__item {
    width: auto !important;
    display: block;
  }
  .partner .carousel__item .item__image::after {
    display: block;
  }
}
.partner .carousel__item::last-child .item__image::after, .partner .carousel__item:first-child .item__image::after {
  display: none;
}
.partner .item {
  margin: 0 5px;
}
.partner .item:hover {
  transform: none;
}
.partner .item__image {
  display: flex;
  align-items: center;
  width: 200px;
  height: 100px;
  padding: 10px 15px;
  position: relative;
}
.partner .item__image::after {
  content: "";
  display: none;
  width: 0.5px;
  height: 35%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: gray;
  left: -10px;
}

/*# sourceMappingURL=styles.css.map */
